body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#indexLayer2
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_indexText53 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_indexText53 div
{
   text-align: left;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#RollOver1 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver1 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver1 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver1 a .hover
{
   visibility: hidden;
}
#RollOver1 a:hover .hover
{
   visibility: visible;
}
#RollOver1 a:hover span
{
   visibility: hidden;
}
#RollOver1 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer1
{
   background-color: transparent;
   background-image: url(../images/main_back.jpg);
   background-repeat: repeat;
   background-position: center top;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#Image3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_Form1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
}
#Editbox1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: url(../images/edit.png);
   background-repeat: repeat;
   background-position: left top;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 21px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#DatePicker1
{
   border: 1px solid #DDDDDD;
   border-radius: 4px;
   background-color: transparent;
   background-image: url(../images/edit.png);
   background-repeat: repeat;
   background-position: left top;
   color :#333333;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 27px;
   padding: 1px 1px 1px 1px;
   margin: 0;
   text-align: left;
}
#DatePicker1:focus
{
   border-color: #CCCCCC;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(204,204,204,0.60);
   outline: 0;
}
.ui-datepicker
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   z-index: 1003 !important;
   display: none;
   margin: 0;
}
.ui-datepicker, .ui-datepicker .ui-corner-all
{
   border-radius: 0px;
}
#wb_uid5
{
   color: #000000;
   font-family: Open Sans;
   font-size: 21px;
}
#RollOver1
{
   position: absolute;
   left: 825px;
   top: 35px;
   width: 287px;
   height: 54px;
   overflow: hidden;
   z-index: 5;
}
#wb_uid4
{
   color: #000000;
   font-family: Open Sans;
   font-size: 21px;
}
#wb_uid3
{
   color: #000000;
   font-family: Open Sans;
   font-size: 37px;
}
#wb_Image1
{
   position: absolute;
   left: 443px;
   top: 58px;
   width: 27px;
   height: 27px;
   z-index: 3;
}
#wb_Text4
{
   position: absolute;
   left: 70px;
   top: 161px;
   width: 959px;
   height: 28px;
   text-align: center;
   z-index: 11;
}
#wb_uid2
{
   color: #000000;
   font-family: Open Sans;
   font-size: 13px;
}
#wb_Image2
{
   position: absolute;
   left: 443px;
   top: 14px;
   width: 27px;
   height: 27px;
   z-index: 2;
}
#Editbox1
{
   position: absolute;
   left: 127px;
   top: 286px;
   width: 236px;
   height: 21px;
   z-index: 9;
}
#wb_Image3
{
   position: absolute;
   left: 11px;
   top: 362px;
   width: 477px;
   height: 445px;
   z-index: 13;
}
#wb_Text5
{
   position: absolute;
   left: 50px;
   top: 322px;
   width: 389px;
   height: 28px;
   text-align: center;
   z-index: 12;
}
#wb_uid1
{
   color: #000000;
   font-family: Open Sans;
   font-size: 27px;
}
#wb_Text6
{
   position: absolute;
   left: 50px;
   top: 74px;
   width: 389px;
   height: 56px;
   text-align: center;
   z-index: 6;
}
#wb_uid0
{
   color: #000000;
   font-family: Open Sans;
   font-size: 27px;
}
#indexLayer2
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100px;
   z-index: 20;
}
#wb_Text7
{
   position: absolute;
   left: 50px;
   top: 144px;
   width: 389px;
   height: 18px;
   text-align: center;
   z-index: 7;
}
#wb_Text1
{
   position: absolute;
   left: 474px;
   top: 52px;
   width: 270px;
   height: 37px;
   z-index: 1;
}
#indexLayer2_Container
{
   width: 1120px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Text2
{
   position: absolute;
   left: 11px;
   top: 57px;
   width: 148px;
   height: 36px;
   z-index: 4;
}
#wb_Text3
{
   position: absolute;
   left: 70px;
   top: 37px;
   width: 959px;
   height: 102px;
   text-align: center;
   z-index: 10;
}
#wb_indexText53
{
   position: absolute;
   left: 474px;
   top: 10px;
   width: 270px;
   height: 37px;
   z-index: 0;
}
#TM-M37KPHN
{
   display: none;
   visibility: hidden;
}
#DatePicker1
{
   position: absolute;
   left: 133px;
   top: 222px;
   width: 242px;
   height: 27px;
   z-index: 8;
}
#Layer1
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 93px;
   width: 100%;
   height: 844px;
   z-index: 21;
}
#wb_uid9
{
   color: #000000;
   font-family: Open Sans;
   font-size: 17px;
}
#wb_uid8
{
   color: #C0C0C0;
   font-family: Open Sans;
   font-size: 13px;
}
#wb_Text8
{
   position: absolute;
   left: 415px;
   top: 372px;
   width: 389px;
   height: 23px;
   text-align: center;
   z-index: 15;
}
#wb_uid7
{
   color: #DB7D7D;
   font-family: Open Sans;
   font-size: 21px;
}
#Layer1_Container
{
   width: 1120px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_uid6
{
   color: #000000;
   font-family: Open Sans;
   font-size: 21px;
}
#wb_Form1
{
   position: absolute;
   left: 0px;
   top: 350px;
   width: 500px;
   height: 475px;
   z-index: 14;
}
